<footer>
<ul>
  <li><a href="https://feeds.feedburner.com/tobiasaignercom"><img style="border:0;vertical-align:middle;" width="32px" height="32px" src="/images/feed-icon-32x32.png"></a></li>
  <li><a rel="me" href="https://www.xing.com/profile/Tobias_Aigner2"><img width="32" height="32" alt="Tobias Aigner" src="/images/xing-32x32.png" style="border:0;vertical-align:middle;"></a></li>
  <li><a href="https://www.linkedin.com/in/tobiasaigner"><img width="32" height="32" alt="LinkedIn" src="/images/linkedin-32x32.png" style="border:0;vertical-align:middle;"></a></li>
  <li><a style="text-decoration:none;" target="_blank" href="https://github.com/taigner"><img width="32" height="32" alt="github.com" src="/images/github-32x32.png" style="border:0;vertical-align:middle;"></a></li>
</ul>

©{{ site.time | date: "%Y" }} - Tobias Aigner
</footer>
