<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:italic|Source+Code+Pro:400,600' rel='stylesheet' type='text/css'>
  </head>
  <body class="site">
    <header>
      <h1><a href="/">{{ site.name }}</a></h1>

      {% include navigation.html %}
    </header>

    {{ content }}

    {% include footer.html %}
        
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29679024-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
